*{
    margin: 0;
    padding: 0;
}
:root {
    /*  collection 1*/
    --var1: #181C14;
    --var2: #ECDFCC ;
    --var3:#3C3D37 ;
    --var4: #697565;
    /*  collection 2*/
}
body{
    background-color: var(--var1);
}
.container{
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    margin: auto;
}

.contant{
    margin-top: 5px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 40px;
}
.options .contant{
 border-top: 1px solid rgb(147, 147, 147);
 background-color:var(--var2);
}

.options .icon{
    background-color: var(--var3);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 20px;
}
.options  .item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    margin-top: 20px;
    background-color: var(--var4);
    width: 100%;
    height: 80px;
    border-radius: 10px;
}
.text2{
    width: 100%;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shap{
  
    background-color: rgba(80, 79, 78, 0.411);
    width: 85px;
    height: 6px;
    border-radius: 10px;
    margin-left: 3px;
}
.dotes{
    display: flex;
    align-items: center;
}
.dote{
    width: 6px;
    height: 6px;
    background-color: rgba(101, 102, 102, 0.185);
    border-radius: 50%;
    margin-left: 5px;
}
.body{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.item1{
    border-radius: 10px;
    width: 100%;
    height: 350px;
    background-color: var(--var4);
    margin-bottom: 25px;
}
.item2{
    border-radius: 10px;
    width: 100%;
    height: 150px;
    background-color: var(--var2);
    margin-bottom: 25px;
}