*{
    margin: 0;
    padding: 0;
}

.container{
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
    margin: auto;
}


.body {
   display: grid;
   grid-template-columns: repeat(1,1fr);
   margin-top: 80px;
   grid-gap: 15px;
}
.title{
    display: grid;
    grid-template-columns: 30% 70%;
}
.title .img , .title .des ,.body .text{
    width: 100%;
    border-radius: 10px;
    background-color: rgb(77, 83, 88);
    height: 250px;
}
.title .img {
    width: 90%;
    border-radius: 10px;
    background-color: rgb(77, 83, 88);
    height: 250px;
}
