*{
    margin: 0;
    padding: 0;
}

.container{
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
    margin: auto;
}


.body {
   margin-top: 80px;
}
.title{
   display: flex;
   justify-content: space-between;
}
.body .text{
    width: 100%;
    border-radius: 10px;
    background-color: rgb(77, 83, 88);
    height: 250px;
    margin-top: 10px;
}
.title .des {
    width: 839px;
    border-radius: 10px;
    background-color: rgb(77, 83, 88);
    height: 250px;
}
.title .img {
    width: 350px;
    border-radius: 10px;
    background-color: rgb(77, 83, 88);
    height: 250px;
}
