*{
    margin: 0;
    padding: 0;
}

.container{
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
    margin: auto;
}


.body {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   margin-top: 80px;
   grid-gap: 15px;
}

.body .text{
    width: 100%;
    border-radius: 10px;
    background-color: rgb(77, 83, 88);
    height: 250px;
}
