* {
    margin: 0;
    padding: 0;
    font-family: IBM Plex Sans;
}

body {
    background: #FFFCF8;
}

header {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(182, 182, 182, 0.459);
}

.contanier {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
}

.contant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 99px;
}

header .logo {
    color: #14203E3D;
    font-size: 22px;
}

header .option a {
    text-decoration: none;
    color: #14203E;
    font-size: 18px;
    margin-left: 40px;
}

header .account .login {
    width: 111px;
    height: 49px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    border: none;
    background: #F6F0E8;
}

header .account .start {
    width: 179px;
    height: 49px;
    top: 25px;
    left: 1376px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    border: none;
    background: #14203E;
    color: white;
}

header .fuulOption {
    display: none;
}

header .fuulOption button {
    width: 79px;
    height: 49px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    border: none;
    background: #14203E;
    color: white;
}

header .fuulOption img {
    width: 40px;
}

.body {
    width: 100%;
    height: 454px;
    text-align: center;
}

.body h1 {
    margin-top: 120px;
    margin-bottom: 16px;
    font-size: 66px;
    font-weight: 700;
    line-height: 71.94px;
    color: #14203E;
}

.body p {
    color: #14203E;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.6px;
    text-align: center;
    margin-bottom: 30px;
}

.body button {
    width: 192px;
    height: 73px;
    border-radius: 10px 0px 0px 0px;
    background: #14203E;
    color: white;
    border: none;
    font-size: 18px;
}

.footer {
    background: #FFFFFF;
    width: 100%;
    height: 496px;
}

.footer .title h1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    text-align: center;
    color: #14203E;
    margin-top: -10px;
}

.footer .title {
    padding-top: 60px;
}

.footer .title .hr1 {
    width: 200px;
    margin-left: 280px;
    background: #14203E33;
}

.footer .title .hr2 {
    width: 200px;
    margin-left: 320px;
    background: #14203E33;
    margin-left: 720px;
}

.footer .card {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}
.footer .card .item{
    align-items: center;
    justify-content: center;
}
.footer .card img {
    width: 258px;
    height: 196px;
}

.footer .card h1 {
    color: #14203E;
    width: 196px;
    font-size: 18px;
    line-height: 23.98px;
    text-align: left;
}

.footer .card p {
    color: #a7a2a2;
}

@media screen and (max-width: 1203px) {
    .footer .card {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1030px) {

    header .option,
    header .account {
        display: none;
    }

    header .fuulOption {
        display: block;
    }
}

@media screen and (max-width: 848px) {
    .footer .card {
        grid-template-columns: repeat(2, 1fr);
    }
    .body h1{
        font-size: 30px;
    }
    .body h1 br{
        display: none;
    }
    .body p{
        font-size: 20px;
    }
}
@media screen and (max-width: 543px) {
    .footer .card {
        grid-template-columns: repeat(1, 1fr);
    }
}