*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(112, 113, 114);
}
.container{
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
    margin: auto;
}
.content{
    height: 100px;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
header .option {
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.icon{
    background-color: aqua;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.logo{
    background-color: aqua;
    width: 180px;
    height: 35px;
    border-radius: 20px;
}

.user{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
    height: 300px;
    margin-top: 70px;
}
.body .user .img{
    background-color: rgb(77, 83, 88);
    width: 100%;
    border-radius: 10px;
    height: 278px;
}

.body .text{
    width: 100%;
    border-radius: 10px;
    background-color: rgb(77, 83, 88);
    margin-bottom: 20px;
    height: 80px;
}

.footer{
    width: 100%;
    height: 110px;
    position: fixed;
    bottom: 0;
    background-color: rgb(112, 113, 114);
}
