*{
    margin: 0;
    padding: 0;
}
:root {
    /*  collection 1*/
    --var1: #181C14;
    --var2: #ECDFCC ;
    --var3:#3C3D37 ;
    --var4: #697565;
    /*  collection 2*/
    --var5: #021526;
    --var6: #0e509f ;
    --var7:#6EACDA ;
    --var8: #E2E2B6;

}
body{
    background-color: var(--var5);
}
header{
    background-color: var(--var7);
}
.container{
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
    margin: auto;
}
.content{
    height: 150px;
    position: relative;
}
header .option {
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    right: 0;
}
.icon{
    background-color: var(--var5);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.user{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 10px;
    color: var(--var8);
}
.body .user .img{
    background-color: var(--var6);
    height: 190px;
    width: 188px;
    margin-top: -65px;
}
.title ,.SecondText{ 
    display: flex;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.title .t1{
    width: 300px;
    height: 44px;
    background-color: var(--var6);
    border-radius: 5px;
}
.title .t2{
    width: 150px;
    height: 44px;
    background-color: var(--var6);
    border-radius: 5px;
}

.body .text{
    width: 100%;
    border-radius: 10px;
    height: 160px;
    background-color: var(--var6);
    margin-bottom: 20px;
}
.body .SecondText .t1{
    width: 20%;
    height: 44px;
    background-color: var(--var6);
    border-radius: 5px;
}
.body .SecondText .t2{
    width: 70%;
    height: 44px;
    background-color: var(--var6);
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .body .user .img{
        height: 160px;
        width: 158px;
        margin-top: -45px;
    }
}
@media screen and (max-width: 900px) {
    .about{
        margin-left: 50px;
    }
}
@media screen and (max-width: 800px) {
    .user{
        grid-gap: 0;
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width: 636px) {
    .about{
        margin-left: 0px;
        width: 100%;
    }
}
@media screen and (max-width: 550px) {
    .title .t1{
        width: 200px;
        height: 34px;
        background-color: var(--var6);
        border-radius: 5px;
    }
    .title .t2{
        width: 80px;
        height: 34px;
        background-color: var(--var6);
        border-radius: 5px;
    }
    
    .body .text{
        width: 100%;
        border-radius: 10px;
        height: 110px;
        background-color: var(--var6);
        margin-bottom: 20px;
    }
    .body .SecondText .t1{
        width: 20%;
        height: 34px;
        background-color: var(--var6);
        border-radius: 5px;
    }
    .body .SecondText .t2{
        width: 70%;
        height: 34px;
        background-color: var(--var6);
        border-radius: 5px;
    }
}
@media screen and (max-width: 414px) {
    header .option {
        width: 140px;
        bottom: 80px;
    }
    .icon{
        width: 30px;
        height: 30px;
    }   
}
@media screen and (max-width: 390px) {
    .title .t1{
        width: 140px;
        height: 24px;
        background-color: var(--var6);
        border-radius: 5px;
    }
    .title .t2{
        width: 70px;
        height: 24px;
    }
    
    .body .text{
        width: 100%;
        border-radius: 10px;
        height: 80px;
    }
    .body .SecondText .t1{
        width: 20%;
        height: 24px;
        background-color: var(--var6);
        border-radius: 5px;
    }
    .body .SecondText .t2{
        width: 70%;
        height: 24px;
        background-color: var(--var6);
        border-radius: 5px;
    }
}