* {
    margin: 0;
    padding: 0;
}
:root{
    /*  collection 1*/
    --var1: #181C14;
    --var2: #ECDFCC ;
    --var3:#3C3D37 ;
    --var4: #697565;
    /*  collection 2*/
    --var5: #021526;
    --var6: #0e509f ;
    --var7:#6EACDA ;
    --var8: #E2E2B6;
    /*  collection 3*/
    --var9: #030637;
    --var10: #3C0753 ;
    --var11:#814d73a4 ;
    --var12: #910A67;
     /*  collection 4*/
     --var13: #352F44;
     --var14: #5C5470 ;
     --var15:#B9B4C7 ;
     --var16: #FAF0E6;
}
body{
    background-color: var(--var13);
    color: var(--var16);

}
header {
    background-color: var(--var15);
    position:fixed;
    width: 100%;
}

.contanir {
    max-width: 1300px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;

}

header .contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
}

header .option {
    align-items: center;
    display: flex;
    font-size: larger;
}
header .option .other {
    margin-left: 16px;
}

.body {
    padding-top: 90px;
    background-color: var(--var15);
    height: 190px;
}
.body h1 {
    font-size: 58px;
    margin-bottom: 10px;
}
.body h2 {
    font-size: 38px;
    color: rgb(148, 143, 136);
}
.items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin-top: -40px;

}

.items .card img {
    border-radius: 20px;
    width: 100%;
}
.items .card p {
   font-family: 'Courier New', Courier, monospace;
   font-size: 20px;
}
.items .card a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: var(--var4);
    text-decoration: none;
 }
.footer {
    background-color: var(--var15);
    margin-top: 20px;
    border-top: 2px solid rgb(255, 255, 255);
}

.footer .contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
}

.footer .medui {
    align-items: center;
    display: flex;
    font-size: 30px;
 
}

.footer .medui .icon {
    margin-left: 16px;
    background-color: rgb(58, 52, 52);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

    @media screen and (max-width: 1000px){
        .items {
            grid-template-columns: repeat(2,1fr);    
        }
        
    }
    @media screen and (max-width: 800px){
        .items {
            grid-template-columns: repeat(1,1fr);  
            margin-top: -10px;  
        }
        .body h1 {
            font-size: 38px;
        }
        .body h2 {
            font-size: 28px;
        }
        
    }