* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    }

body {
    background: #FCFCFF;
}

header {
    border-bottom: 1px solid rgba(182, 182, 182, 0.459);
}

.contanier {
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
}

.contant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 99px;
}
header .logo {
    color: #202142;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo .ci{
    background-color: #202142;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 5px;
}
header .option a {
    text-decoration: none;
    color: #2021428f;
    font-size: 16px;
    margin-left: 16px;
}
header .option .active{
    color: #202142;
    width: Hug (132px)px;
    height: Hug (44px)px;
    padding: 10px 15px 10px 15px;
    gap: 10px;
    border-radius: 32px ;
    background: #F1F1FD;
}
header .account .login {
    width: 81px;
    height: 49px;
    opacity: 0px;
    border: none;
    background: #FCFCFF;
    font-size: 16px;
}

header .account .start {
    width: 121px;
    height: 49px;
    border-radius: 10px;
    border: none;
    background: #14203E;
    color: white;
    font-size: 16px;
}

header .fuulOption {
    display: none;
}

header .fuulOption button {
    width: 79px;
    height: 49px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    border: none;
    background: #14203E;
    color: white;
}

header .fuulOption img {
    width: 40px;
}

.body {
    width: 100%;
    height: 354px;
    text-align: center;
    position: relative;
}
.body .days{
    border-radius: 10px;
    position: absolute;
    top: -102px;
}
.body .days p{
    color: #FF6A95;
}
.body h1 {
    margin-top: 120px;
    margin-bottom: 16px;
    font-size: 36px;
    color: #14203E;
}
.body p {
    color: #14203E;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}
.body select,
.body input {
    background: #FFFFFF;
    height: 58px;
    padding: 11px 15px;
    border: 1px solid rgba(139, 139, 139, 0.212);
    font-size: 18px;
    box-sizing: border-box;
    box-shadow: 0 1em 4em rgba(139, 139, 139, 0.212);
}
.body select {
    width: 145px;
    border-radius: 7px 0px 0px 7px;
    border-right: none;
    margin-right: -5px;
}
.body input {
    padding: 11px 55px;
    background-image: url('chevron-down.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    width: 345px;
    border-radius: 0px 7px 7px 0px;
}
.headFO .type{
    background: #FCFCFF;
    border: 1px solid #EFEFFF;
    width: 159px;
    height: 44px;
    border-radius: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 15px;

}
.headFO button{
    background-color: transparent;
    border: none;
    color: #2021428f;
}
.headFO .type .active{
    color: #202142;
    border-radius: 45px;
    background: #FFFFFF;
    border: 1px solid #EFEFFF;
    height: 40px;
    width: 50%;
    box-shadow: 0 1em 3em rgba(139, 139, 139, 0.482);
}
.headFO .media{
    display: flex;
    align-items: center;
}
.headFO .media a {
    text-decoration:none;
    margin-right: 20px;
    color: #2021428f;
}
.headFO .media .active {
    width: Hug (49px)px;
    height: Hug (49px)px;
    padding: 10px 15px 10px 15px;
    border-radius: 32px 0px 0px 0px;
    border: 1px solid #EFEFFF;
    border-radius: 50%;
    color: #202142;
}
.headFO .socail{
    display: flex;
    align-items: center;
}
.headFO .socail .icon{
    width: 45px;
    height: 45px;
    border: 1px solid #EFEFFF;
    border-radius: 50%;
    margin-left: 15px;
}
.headFO .socail .active{
    border: 1px solid #FF6A95
}
.headFO .socail img{
    width: 19px;
    height: 19px;
    padding: 12px 15px 10px 12px;
}
.bodyFO .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 18px;
    margin-bottom: 20px;
}
.bodyFO .cards .item .img{
    position: relative;
}
.bodyFO .cards .item .img img{
    width: 100%;
    border-radius: 10px;
}
.bodyFO .cards .item .logo{
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
}
.bodyFO .cards .item .logo img{
    width: 19px;
    height: 19px;
    padding: 12px 15px 10px 12px;
}

.info , .prof , .action{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.action img{
    width: 19px;
    height: 19px;
    padding: 12px 15px 10px 12px;
}
.prof img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.prof p{
    margin-left: 10px;
}
.prof p span{
    font-family: Poppins;
font-size: 14px;
font-weight: 700;
line-height: 21px;
text-align: left;
}
@media screen and (max-width: 848px) {
    .footer .card {
        grid-template-columns: repeat(2, 1fr);
    }
    .body h1{
        font-size: 30px;
    }
    .body h1 br{
        display: none;
    }
    .body p{
        font-size: 20px;
    }
}
@media screen and (max-width: 1030px) {

    header .option,
    header .account {
        display: none;
    }
    header .fuulOption {
        display: block;
    }
    .headFO .contant{
        display: flex;
        flex-direction: column; 
        align-items: center; 
        height: 150px;
        width: 100%;
    }
    .bodyFO .cards{
        grid-template-columns: repeat(2,1fr);
        margin-top: 40px;
    }
}
@media screen and (max-width: 600px) {

    .bodyFO .cards{
        grid-template-columns: repeat(1,1fr);
    }
    .body h1 {
        font-size: 20px;
    }
    .body p {
        font-size: 14px;
    }
    .body select,
    .body input {
      
        height: 48px;
        font-size: 12px;
    }
    .body select {
        width: 135px;
    }
    .body input {
        background-position: 10px; 
        width: 205px;
    }
}
