*{
    margin: 0;
    padding: 0;
}

.container{
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
    margin: auto;
}
.body {
   display: grid;
   grid-template-columns: 30% 70%;
   margin-top: 80px;
   grid-gap: 10px;
   margin-bottom: 20px;
}
.body .text {
    margin-top: 10px;
    width: 100%;
    background-color: rgb(77, 83, 88);
    height: 510px;
    border-radius: 10px;
}

.title .img , .title .des  {
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(77, 83, 88);
    height: 250px;
}

